<footer class="footer-content">
    <small class="copyright">Front-Walkers &copy; 2019</small>
    <nav class="footer-navigation">
        <ul>
            <li><a href="../../index.html#equipo">Equipo</a></li>
            <li><a href="../../index.html#quienes-somos">Quienes somos</a></li>
            <li><a href="./contact.html" target="blank" title="contacto">Contacto</a></li>
        </ul>
    </nav>
    <a class="container_logo" href="https://adalab.es/" target="_blank">
        <img class="logo" src="./assets/images/logo-adalab-80px.png" alt="logo_adalab">
    </a>
</footer>