.main__contact {
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #54585a;
  &.title {
      font-size: 24px;
      font-family: 'Rubik', Arial, sans-serif;
      color: #099d8d;
      width: 127px;
      height: 45px;
      padding:0;
      margin: auto;
  }
  &.text {
      font-family: 'OpenSans', Arial, sans-serif;
      &.p{
          font-size: 16px;
          margin-top: 15px;
          height: 122px;
      }
      &.small {
          font-size: 12px;
          height: 22px;
      }
  }
}